[Unit]
Description=httpd

[Service]
TimeoutStartSec=360
ExecStartPre=-/usr/bin/docker kill httpd
ExecStartPre=-/usr/bin/docker rm httpd
ExecStartPre=/usr/bin/docker pull tleyden5iwx/open-ocr
ExecStart=/bin/bash -c 'while [ -z $(etcdctl get /services/rabbitmq) ]; do sleep 1; done; RABBIT=$(etcdctl get /services/rabbitmq); /usr/bin/docker run -p 8080:8080 --name httpd tleyden5iwx/open-ocr open-ocr-httpd -amqp_uri "amqp://admin:rabbit1@$RABBIT" -http_port 8080'
ExecStop=/usr/bin/docker stop httpd