[Unit]
Description=rabbitmq

[Service]
TimeoutStartSec=360
ExecStartPre=-/usr/bin/docker kill rabbitmq
ExecStartPre=-/usr/bin/docker rm rabbitmq
ExecStartPre=/usr/bin/docker pull tutum/rabbitmq
ExecStart=/usr/bin/docker run --name rabbitmq -p 5672:5672 -p 15672:15672 -e RABBITMQ_PASS=rabbit1 tutum/rabbitmq
ExecStop=/usr/bin/docker stop rabbitmq