[Unit]
Description=Announce RabbitMQ
BindsTo=rabbitmq.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/rabbitmq '%H\' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/rabbitmq

[X-Fleet]
MachineOf=rabbitmq.service