[Unit]
Description=worker

[Service]
TimeoutStartSec=360
ExecStartPre=-/usr/bin/docker kill worker
ExecStartPre=-/usr/bin/docker rm worker
ExecStartPre=/usr/bin/docker pull tleyden5iwx/open-ocr
ExecStart=/bin/bash -c 'while [ -z $(etcdctl get /services/rabbitmq) ]; do sleep 1; done; RABBIT=$(etcdctl get /services/rabbitmq); /usr/bin/docker run --name worker tleyden5iwx/open-ocr open-ocr-worker -amqp_uri "amqp://admin:rabbit1@$RABBIT"'
ExecStop=/usr/bin/docker stop worker

[X-Fleet]
Conflicts=worker.*.service